@import "vars";

body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: $fs;
    margin: 0px;
    padding: 0px;
    background-color: $c-body-bg;
    color: #ffffff;
}

#page {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

// Split Content

$split-ratio: .3;

$width-left: $usable-width * $split-ratio;
$width-right: $usable-width * (1 - $split-ratio);

#content-left, #content-right {
    position: absolute;
    box-sizing: border-box;
    top: $outside-padding-h;
    height: $usable-height;
    background-color: $c-content-bg;
    border: $border-width ridge $c-bodycontent-merge;
}

#content-left {
    left: $outside-padding-w;
    width: $width-left;
}

#content-right {
    left: $outside-padding-w + $width-left + $inside-padding;
    width: $width-right;
}

// Three Pane

.pane-top, .pane-mid, .pane-bot {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
}

.pane-top, .pane-bot {
    height: $header-height;
    padding: $fs * 0.1;
    background-color: $c-header-bg;
}

.pane-top {
    border-bottom: $border-width ridge $c-contentheader-merge;
}

.pane-mid {
    top: $header-height;
    height: $usable-height - ($header-height * 2);
    padding: $fs;
}

.pane-bot {
    top: $usable-height - $header-height;
    border-top: $border-width ridge $c-contentheader-merge;
}

.section-title {
    width: 100%;
    height: 100%;
    font-size: $fs * 1.2;
    vertical-align: middle;
    color: $c-body-bg;
    font-weight: bold;
    padding-top: 0.2em;
    padding-left: 1em;
}
