// Colors

$c-body-bg: #000066;
$c-bodycontent-merge: #003cb2;
$c-content-bg: #0079ff;
$c-contentheader-merge: #179eff;
$c-header-bg: #33ccff;

// Page Sizing

$fs: 2.5vh;

$outside-padding-w: 5vw;
$outside-padding-h: 4vh;
$inside-padding: 2vw;
$usable-height: 100vh - (2 * $outside-padding-h);
$usable-width: 100vw - (2 * $outside-padding-w) - $inside-padding;

$border-width: 0.3vh;

$header-height: $fs * 2.5;
