@if (Request.UserHostAddress != "::1") {
    Response.Redirect("app/login");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Portal</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <style>
        body {
            padding: 0px;
            margin: 0px;
        }

        #bg {
            width: 100vw;
            height: 100vh;
            background: radial-gradient(#2d24a8, #0b092a);
        }

        table {
            position: absolute;
            top: 2.5vh;
            left: 2.5vw;
            width: 95vw;
            height: 95vh;
            border-collapse: separate;
        }

        tr {
            width: 100%;
        }

        td div {
            position: relative;
            top: 10%;
            left: 10%;
            width: 80%;
            height: 80%;
        }

            td div:hover {
                cursor: pointer;
            }

        .selected {
            background-color: rgba(0, 204, 255, 0.5);
            border-radius: 5%;
        }
    </style>
</head>
<body>
    <div id="bg">
        <table>
            <!-- Icons -->
        </table>
    </div>
    <script>
        var cells = document.getElementsByClassName('cell');
        function goToLink(url) {
            window.location.href = url;
        }
        function highlight(e) {
            for (var i = 0; i < cells.length; i++) {
                console.log(i);
                console.log(cells[i].parentElement.classList);
                cells[i].parentElement.classList.remove('selected');
                console.log(cells[i].parentElement.classList);
            }
            e.parentElement.classList.add('selected');
        }
    </script>
</body>
</html>
