// Colors

$c-font: #ffffff;

$c-bg: #000066;
$c-bg-lite: #00248e;
$c-bg-header: #0099ff;
$c-border: #000039;
$c-border-header-merge: #0033cc;

$c-link: #ccccff;
$c-link-active: #ff66ff;

$c-input: #9d8aff;
$c-input-lite: #d5ccff;

// Page Sizing

$fs: 2.5vh;

$border-width: 0.3vh;

$header-height: $fs * 3.0;
